<html>

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <p class="center-text-large" id="message"></p>
    <a class="center-text-large buttons vertical-center-text" href="/api/dashboard">Dashboard </a>
    <div class="form-wrapper-center">
    <form class="center" id="new-snippet">
        <input class="inputs" type="text" id="title" placeholder="Title:">
        <input class="inputs" type="text" id="body" placeholder="Body:">
        <input class="inputs" type="text" id="notes" placeholder="Notes:">
        <input class="inputs" type="text" id="language" placeholder="Language:">
        <input class="inputs" type="text" id="tags" placeholder="Tags:">
        <button class="buttons" type="submit">Submit Snippet</button>
    </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="/create-snippet.js"></script>
</body>



</html>