<html>

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <p class="center-text-large">Kode Keeper</p>
    <p class="center-text-large" id="message"></p>
    <a class="center-text-large buttons vertical-center-text" href="/signup">Signup </a>
    <div class="form-wrapper-center">
    <form class="center" id="login-form">
        <input class="inputs" type="text" id="email" placeholder="Email">
        <input class="inputs"type="password" id="password" placeholder=Password "">
        <button class="buttons" type="submit">Log In</button>
    </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="./login.js"></script>
</body>



</html>