<html>

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

    <body>
        <p class="center-text-large">Kode Keeper</p>
        <p class="center-text-large" id="message"></p>
        <p class="center-text-large">Sign Up</p>
        <div class="form-wrapper-center">
        <form class="center" id="signup-form">
            <input class="inputs" type="text" id="email" placeholder="Email">
            <input class="inputs" type="password" id="password" placeholder=Password "">
            <button class="buttons" type="submit">Sign Up</button>
        </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script src="/signup.js"></script>
    </body>


</html>